body{
    background: #F3F2EF;
}

.logo{
    display: inline-flex;
    padding-top: 20px;
      padding-left: 20px;
}

/* Nav Top  Start */

.nav-top{
    display: inline-flex;
    gap : 20px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
}

.nav-user{
    /* Layout */
    width: 296px;
    height: 40px;

    /* Style */
    border-radius: 52px;
background: #FFF;
}

.user-items {
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: space-around;
}

.user-email p{
    color: #000;
font-family: ES Allianz;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
}

/* Nav Menu CSS */

.nav-menu{
    display: flex;
width: 138px;
height: 40px;
box-sizing: border-box;
padding: 6px 14px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 35px;
flex-shrink: 0;

/* Style */
border-radius: 33px;
background: #389FFE;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    flex: 1 0 0;
    align-self: stretch;
}