@font-face {
  font-family: 'ES Allianz';

src: url("./Fonts/ESAllianz.otf") format("otf") , url("./Fonts/ESAllianzBold.otf") format("otf"),
url("./Fonts/ESAllianzBook.otf") format("otf"),
url("./Fonts/ESAllianzExtrabold.otf") format("otf"),
url("./Fonts/ESAllianzExtralight.otf") format("otf"),
url("./Fonts/ESAllianzMedium.otf") format("otf"),
url("./Fonts/ESAllianzLight.otf") format("otf"),
url("./Fonts/ESAllianzBold.otf") format("otf"),
url("./Fonts/ESAllianzItalic.otf") format("otf");
  font-style: normal;
  font-display: swap;
}

/* Custom Classes */
html{
  font-family: ES Allianz,Helvetica Neue,helvetica,arial,sans-serif;
  font-weight: 400;
}
.deafult-text {
  font-family: ES Allianz;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.clr-w {
  color: #FFF;
}

.clr-r {
  color: #FF0000;
  ;
}

.clr-b {
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* :root {
      --blue: #1e90ff;
      --white: #ffffff;
    } */

body {
  margin: 0;
  box-sizing: border-box;
}